.HomePage {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.HomePage-link {
  color: #61dafb;
}

.SimilarTerms {
  max-width: 800px;
  margin-top: 80px;
}
